<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>基本信息</title>
    <link rel="stylesheet" href="../layui/css/layui.css" th:href="@{/layui/css/layui.css}">
    <script src="../layui/layui.js" th:src="@{/layui/layui.js}"></script>
</head>
<body>
    <div class="layui-tab">
        <ul class="layui-tab-title">
            <li class="layui-this">基本信息</li>
            <li>更改密码</li>
            <li>更换头像</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">内容1</div>
            <div class="layui-tab-item">内容2</div>
            <div class="layui-tab-item">
                <button type="button" class="layui-btn" id="file">
                    <i class="layui-icon">&#xe67c;</i>上传图片
                </button>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        var root=[[${root}]];
        layui.use(['element','upload','layer'],function(){
            var element=layui.element;
            element.init();
            var layer=layui.layer;
            var upload=layui.upload;
            var uploadInst=upload.render({
                elem:"#file",
                url:root+"/fileUpload",
                done:function(res){
                    layer.alert(res);
                },
                error:function(){

                }
            });
        });
    </script>
</body>
</html>